{% extends "layouts/base.html" %}

{% block content %}
<div class="my-3">
    <h4> {{ 'New' if request.endpoint == 'new_position' else 'Update' }} Position</h4>
    <h5 class="text-success italic"> {{ position.election.name }} </h5>
</div>


<!-- form block -->
<main class="row">
    <div class="col-md-6">
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label(class='form-label') }}
                {{ form.title(size=48, class='form-control') }}
                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label(class='form-label') }}
                {{ form.description(size=140, class='form-control') }}
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                <button type="submit" class="btn btn-primary">
                    {{ 'Create' if request.endpoint == 'new_position' else 'Update' }}
                </button>
            </p>
        </form>
    </div>
</main>

{% endblock %}