{% extends "layouts/base.html" %}

{% block content %}

<div class="mt-2">
    <span class="badge badge-lg rounded-pill"
          style="border: 2px solid darkslateblue; color: darkslateblue">Position</span>
</div>
<h1> {{ position.title }} </h1>
<h5>In <a style="color: inherit;" href="{{ url_for('election', link=position.election.link) }}">{{ election.name
        }}</a> </h5>
<p>
    {{ position.description }}
</p>

<a href="{{ url_for('update_position', link=election.link,position_id=position.id) }}"><button
            class="btn btn-info btn-sm">Edit</button></a>
<a href="{{ url_for('delete_position', link=election.link,position_id=position.id) }}"><button
            class="btn btn-info btn-sm">Delete</button></a>
<hr>


{% if position.candidates %}

<div class="d-flex justify-content-between my-3">

    <h4>Candidates</h4>

    <div class="float-right float-end">
        <a href="{{ url_for('new_candidate', link=election.link, position_id=position.id) }}"><button
                    class="btn btn-info">Add Candidate +
            </button> </a>
    </div>
</div>

<table class="table table-striped" style="border: 1px solid darkslateblue">
    <thead>
        <th>
            Name
        </th>
        <th>
            Bio
        </th>
        <th>Actions</th>
    </thead>
    {% for c in position.candidates %}
    <tr>
        <td>
            <a class="h5"
               href="{{ url_for('candidate', link=election.link,position_id=position.id,candidate_id=c.id) }}">
                {{ c.name }}
            </a>
        </td>
        <td>{{ c.bio }}</td>
        <td>
            <a href="{{ url_for('update_candidate', link=election.link,position_id=position.id,candidate_id=c.id) }}"><button
                        class="btn btn-secondary">Edit</button></a>
            <a href="{{ url_for('delete_candidate', link=election.link,position_id=position.id,candidate_id=c.id) }}"><button
                        class="btn btn-danger">Delete</button></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</div>
{% endblock %}