[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"
flask-admin = "*"
flask-bcrypt = "*"

[requires]
python_version = "3.7"
