{% extends "layouts/base.html" %}

{% block content %}
<div>

    <div class="mt-2">
        <span class="badge badge-lg rounded-pill" style="border: 2px solid goldenrod; color: goldenrod">Election</span>
        <span class="badge badge-lg bg-success bg-gradient rounded-pill"> status: {{ election.status.name }}
        </span>
    </div>

    <h1>{{ election.name }} <button id="copy-election-link" class="btn btn-primary"
                data-clipboard-text="{{ url_for('voting_pass_link', link=election.link, _external=True) }}"
                onclick="copy('copy-election-link')">Share</button> </h1>
    <p>
        {{ election.description or 'No description' }}
    </p> <!-- TODO: we will change this to a package later -->

    <div class="d-flex justify-content-between">
        <span>
            Created: {{ election.created_at.strftime('%D - %T %p') }}
        </span>

        <span>
            Created by:
            {{ election.owner.get_name()[0].capitalize() }}
        </span>
    </div>

    <!-- TODO: copy link will be share link later -->
    {% if election.owner.id == current_user.id and election.status.name == 'pending' %}
    <a class="btn btn-info" href="{{ url_for('update_election', link=election.link) }}">
        edit
    </a>
    <a class="btn btn-secondary" href="{{ url_for('delete_election', link=election.link) }}">
        delete
    </a>
    {% endif %}
    <hr>

    <div class="d-flex justify-content-between">

        <span class="h5 text-success">
            Starts {{ election.starting_at.strftime('%D - %T %p') }}
        </span>

    </div>

    <h3> </h3>

    {% if election.owner.id == current_user.id and statuses %}
    <form action="{{ url_for('change_election_status', link=election.link) }}" method="POST">
        <!-- status -->
        {% for s in statuses %}

        <input class="btn-check" autocomplete="off" id="status-{{ s.id }}" onchange="this.form.submit();" type="radio"
               name="status" value="{{ s.id }}" {{ 'checked' if election.status.id==s.id }}>
        <label class="btn btn-outline-success" for="status-{{ s.id }}">{{ s.name }}</label>
        {% endfor %}
    </form>

    <script>
        function doSubmit(e) {
            e.preventDefault();
        }
    </script>


    <div id="status_change_response"></div>
    {% endif %}

    {% if election.status.name == 'started' %}
    <a class="btn btn-success d-block btn-lg my-3"
       href="{{ url_for('voting_pass_link', link=election.link, _external=True) }}">Vote</a>

    {% endif %}

    <div class="d-flex justify-content-between my-3">

        <h4>{{'Positions' if election.status.name != 'ended' else 'Results'}}</h4>


        <div class="float-right float-end">

            {% if election.status.name == 'ended' %}

            <a href="{{ url_for('election_result', link=election.link) }}"> <button class="btn btn-primary">See full
                    result!</button> </a>

            <button class="btn btn-success" id="copy-election-results-link"
                    data-clipboard-text="{{ url_for('election', link=election.link, _external=True) }}#results"
                    onclick="copy('copy-election-results-link')">Share</button>
            {% endif %}


            <!-- user should can only add new Positions when the election has not started yet. -->
            <!-- If the user wants to add a Candidate or position after the election has started they
            should change the status from 'started' to 'pending' -->
            <!-- TODO: there should be a check also on the backend for this -->
            {% if election.status.name == 'pending' %}
            <a href="{{ url_for('new_position', link=election.link) }}"><button class="btn btn-info">Add Position +
                </button> </a>
            {% endif %}
        </div>
    </div>





    <!-- TODO: show candidates here too! -->
    {% if election.positions %}
    <section id="results">
        <table class="table table-striped">
            {% for p in election.positions %}
            <tr class="bg-success bg-gradient">
                <td colspan="3">
                    <a class="h3 link-light" href="{{ url_for('position', link=election.link,position_id=p.id) }}">
                        {{ p.title }}
                    </a>
                </td>
            </tr>
            <tr>
                <td class="px-0 bg-body" colspan="4">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <th>
                                Candidate
                            </th>
                            <th>
                                Votes
                            </th>
                        </thead>

                        {% for c in p.candidates %}
                        <tr style="border-bottom:2px solid lightblue">
                            <td>
                                <a class="link-dark h4"
                                   href="{{ url_for('candidate', link=election.link,position_id=p.id,candidate_id=c.id) }}">
                                    {{ c.name }}
                                </a>
                            </td>
                            <td class="h4">{{ c.votes.count() }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>

            {% endfor %}
        </table>
    </section>
    {% endif %}


</div>

<script>
    if (window.ClipboardJS) {

        function copy(element_id) {

            var clippy = new ClipboardJS(`#${element_id}`);

            clippy.on('success', function (e) {
                e.clearSelection();
                showCopyResponse(true, element_id);
            });

            clippy.on('error', function (e) {
                showCopyResponse(false, element_id);
            });
        }

    }

    function showCopyResponse(success, element_id) {
        let copyBtn = document.getElementById(element_id);

        if (success) {
            copyBtn.innerText = 'Copied!';
            copyBtn.setAttribute('disabled', 'true');

            // then after like 3 secs revert to normal...
            setTimeout(function () {
                copyBtn.innerText = 'Share';
                copyBtn.removeAttribute('disabled');
            }, 700);

        } else {
            copyBtn.innerText = 'Could not copy :( try again';
            copyBtn.setAttribute('disabled', 'true');

            // then after like 3 secs revert to normal...
            setTimeout(function () {
                copyBtn.innerText = 'Share';
                copyBtn.removeAttribute('disabled');
            }, 700);

        }
    }
</script>
{% endblock %}