{% extends "layouts/base.html" %}

{% block content %}
<div>
    <span style="border: 2px solid goldenrod">Election</span>
    <h1>{{ election.name }} <small style="color:goldenrod"> status: {{ election.status.name }} </small> </h1>
    <p>
        {{ election.description or 'No description' }}
    </p> <!-- TODO: we will change this to a package later -->
    <h3 id="urlText" style="color: lime;background-color: lightblue;"><a
           href="{{ url_for('voting_pass_link', link=election.link, _external=True) }}">Vote Link</a> <button
                id="copy-election-link"
                data-clipboard-text="{{ url_for('voting_pass_link', link=election.link, _external=True) }}"
                onclick="copy('copy-election-link')">Share</button>
    </h3>
    <!-- TODO: copy link will be share link later -->
    {% if election.owner.id == current_user.id %}
    <a href="{{ url_for('update_election', link=election.link) }}">
        <button>edit</button>
    </a>
    <a href="{{ url_for('delete_election', link=election.link) }}">
        <button>delete</button>
    </a>
    {% endif %}
    <hr>

    <h4> Created by:
        {{ election.owner.get_name()[0].capitalize() }}
        <!-- TODO: Print second name if available, without errors -->
    </h4>

    <h3>Created: {{ election.created_at }} </h3>

    <h3>Scheduled for: {{ election.starting_at }} </h3>

    {% if election.owner.id == current_user.id and statuses %}
    <form action="{{ url_for('change_election_status', link=election.link) }}" method="POST">
        <!-- status -->
        {% for s in statuses %}
        <label>
            <input onchange="this.form.submit();" type="radio" name="status" value="{{ s.id }}" {{ 'checked' if
                   election.status.id==s.id }}> {{ s.name
            }}
        </label><br>
        {% endfor %}
    </form>

    <script>
        function doSubmit(e) {
            e.preventDefault();
        }
    </script>


    <div id="status_change_response"></div>
    {% endif %}

    <a href="{{ url_for('new_position', link=election.link) }}"><button>Add Position</button> </a>

    <!-- TODO: show candidates here too! -->
    {% if election.positions %}
    <h4>Positions</h4>
    <table style="border: 1px solid green">
        {% for p in election.positions %}
        <tr>
            <td colspan="3">
                <a href="{{ url_for('position', link=election.link,position_id=p.id) }}">
                    <h3>{{ p.title }}</h3>
                </a>
            </td>
        </tr>
        <tr>
            <th>
                Name
            </th>
            <th>
                Votes
            </th>
            <th>
                IDK
            </th>
        </tr>
        {% for c in p.candidates %}
        <tr style="border-bottom:2px solid lightblue">
            <td>
                <a href="{{ url_for('candidate', link=election.link,position_id=p.id,candidate_id=c.id) }}">
                    <h4> {{ c.name }} </h4>
                </a>
            </td>
            <td>{{ c.votes.count() }}</td>
            <td> Yeet</td>

        </tr>
        {% endfor %}
        {% endfor %}
    </table>
    {% endif %}

    <!-- TODO: we will add better checks later -->
    {% if election.status.name == 'ended' %}
    <h3>Results <button id="copy-election-results-link"
                data-clipboard-text="{{ url_for('election', link=election.link, _external=True) }}#results"
                onclick="copy('copy-election-results-link')">Share</button></button> </h3>
    <section id="results" style="height: 300px; width: 100%;background-color: lightblue;">
        {% if election.results.count() > 0 %}
        Results will render here
        <h5>Last Updated: {{ election.results[0].modified_at.strftime('%D - %T %p') }} </h5>
        <table style="border-collapse: collapse;">
            <thead style="border: 1px solid darkblue">
                <th style="border: 1px solid darkblue">
                    Candidate
                </th>
                <th style="border: 1px solid darkblue">
                    Total Votes
                </th>
            </thead>

            <tbody style="border: 1px solid darkblue">
                {% for r in election.results %}
                <tr style="border: 1px solid darkblue">
                    <td style="border: 1px solid darkblue">
                        {{ r.candidate.name }}
                    </td>
                    <td style="border: 1px solid darkblue">
                        {{ r.total_votes }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>


        </table>
        {% else %}
        <div>
            No one has voted :/
        </div>
        {% endif %}
    </section>
    {% endif %}

</div>

<script>
    if (window.ClipboardJS) {

        function copy(element_id) {

            var clippy = new ClipboardJS(`#${element_id}`);

            clippy.on('success', function (e) {
                e.clearSelection();
                showCopyResponse(true, element_id);
            });

            clippy.on('error', function (e) {
                showCopyResponse(false, element_id);
            });
        }

    }

    function showCopyResponse(success, element_id) {
        let copyBtn = document.getElementById(element_id);

        if (success) {
            copyBtn.innerText = 'Copied!';
            copyBtn.setAttribute('disabled', 'true');

            // then after like 3 secs revert to normal...
            setTimeout(function () {
                copyBtn.innerText = 'Share';
                copyBtn.removeAttribute('disabled');
            }, 700);

        } else {
            copyBtn.innerText = 'Could not copy :( try again';
            copyBtn.setAttribute('disabled', 'true');

            // then after like 3 secs revert to normal...
            setTimeout(function () {
                copyBtn.innerText = 'Share';
                copyBtn.removeAttribute('disabled');
            }, 700);

        }
    }
</script>
{% endblock %}