body {
  /* color: grey; */
  background-color: #e1e1e1;
}

header {
  background-color: #5792cf !important;
  color: white;
}

.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}

.voting-label {
  display: block;
  width: 400px;
}
.voting-label > input {
  /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.voting-label > input + span {
  /* DIV STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}
.voting-label > input:checked + span {
  /* (RADIO CHECKED) DIV STYLES */
  background-color: #ffd6bb;
  border: 1px solid #ff6600;
}

.btn.vote-option {
  border: 1px solid #212529 !important;
  color: #212529 !important;
}

.btn-check:checked + .btn.vote-option {
  border: 2px solid #198754 !important;
  color: white !important;
}
