<tr>
    <td>
        <a class="link" href="{{ url_for('election', link=election.link)  }}">
            {{ election.name }}
        </a>
    </td>
    <td>
        <span class="badge rounded-pill bg-info">
            {{ election.status.name }}
        </span>
    </td>
    <td>

        {%if election.owner.id == current_user.id and election.status.name == 'pending' %}
        <a href="{{ url_for('update_election', link=election.link)  }}">
            <button class="btn btn-info btn-sm">
                edit
            </button>
        </a>
        {% endif %}

        {% if election.status.name == 'started' %}
        <a href="{{ url_for('voting_pass_link', link=election.link) }}">
            <button class="btn btn-success shadow-sm btn-sm">
                Vote!
            </button>
        </a>
        {% endif %}
    </td>
</tr>