<tr>
    <td>
        <a class="link" href="{{ url_for('election', link=election.link)  }}">
            {{ election.name }}
        </a>
    </td>
    <td>
        <span class="badge rounded-pill bg-info">
            {{ election.status.name }}
        </span>
    </td>
    <td>
        {%if election.owner.id == current_user.id %}
        <a href="{{ url_for('update_election', link=election.link)  }}">
            <span class="badge bg-secondary">
                edit
            </span>
        </a>
        {% endif %}

        {% if election.status.name == 'started' %}
        <a href="{{ url_for('voting_pass_link', link=election.link) }}">
            <button class="btn btn-primary shadow-sm">
                Vote!
            </button>
        </a>
        {% endif %}
    </td>
</tr>