<tr>
    <td>
        {{ election.id }}
    </td>
    <td>{{ election.name }}</td>
    <td>{{ election.status.name }}</td>
    <td>
        {%if election.owner.id == current_user.id %}
        <a href="{{ url_for('update_election', link=election.link)  }}">Edit</a>
        {% endif %}

        <a href="{{ url_for('election', link=election.link) }}">View</a>

        {% if election.status.name == 'started' %}
        <a href="{{ url_for('voting_pass_link', link=election.link) }}">Vote</a>
        {% endif %}
    </td>
</tr>