{% extends "layouts/base.html" %}

{% block content %}
<h1>Create Election</h1>
<!-- <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.number_of_voters.label }}<br>
        {{ form.number_of_voters(min=3, max=10000) }}<br>
        {% for error in form.number_of_voters.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form> -->
{% endblock %}