{% extends "layouts/base.html" %}

{% block content %}
<div>
    <h2>Hello, {{ current_user.get_name()[0].capitalize() }} </h2>
    <ul>
        <li><a href="{{ url_for('new_election') }}"><button>New Election</button></a></li>

    </ul>

    <h3>Your elections</h3>

    {% if elections %}
    <table style="border: 2px solid lightblue;background-color: khaki;">
        <thead>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </thead>
        {% for election in elections %}
        {% include "partials/election_record.html" %}
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}