{% extends "layouts/base.html" %}

{% block content %}
<div>
    <div class="d-flex justify-content-between mt-3">
        <div>
            You have {{ user_elections|length }} elections
        </div>

        <div>
            <a href="{{ url_for('new_election') }}"><button class="btn btn-success">New Election + </button></a></li>
        </div>
    </div>

    <h4>Your elections</h4>
    {% if user_elections|length > 0 %}
    <table class="table table-striped table-hover" style="border: 2px solid lightblue;background-color: khaki;">
        <thead>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </thead>
        {% for election in user_elections %}
        {% include "partials/election_record.html" %}
        {% endfor %}
    </table>
    {% endif %}

    {% if elections|length > 0 %}
    <h4>Upcoming elections</h4>

    <table class="table table-striped table-hover" style="border: 1px solid gold">
        <thead>

            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>
        </thead>
        {% for election in elections %}
        {% include "partials/election_record.html" %}
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}