{% extends "layouts/base.html" %}

{% block content %}
<div class="container text-center py-4">
    <h2>EVoting</h2>

    <p>
        Yarnnsss
    </p>

    <div class="d-flex align-items-center">
        {% if current_user.is_authenticated %}
        <a class=" mx-auto" href="{{ url_for('dashboard') }}">
            <button class="btn btn-info">Go to Dashboard</button>
        </a>
        {% else %}
        <button class="btn btn-info mx-auto" onclick="login()">Login</button>
        {% endif %}

    </div>
</div>
{% endblock %}