{% extends "layouts/base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <h3>Click on continue if there is no pass code</h3>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=10) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>

    {% for field, errors in form.errors.items() %}
    <div class="alert alert-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
</form>
{% endblock %}